﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model SxaSiteResolverIssue.Web.Models.SiteListRenderingModel

@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{
  <div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "site-list", Model.Attributes)>
    <div class="component-content">
      @if (Model.DataSourceItem == null)
      {
        @Model.MessageIsEmpty
      }
      else
      {
        <div class="link-list">
          <h3>This is a list of sites</h3>
          <ul>
            @foreach (var site in Model.Sites)
            {
              <li>@site.Name</li>
            }
          </ul>
        </div>
        <b>Internal Link:</b> @Model.InternalLink
      }
    </div>
  </div>
}
